{{> vertical_nav}}

{{> top_nav}}

{{! <!-- Main Content --> }}
<div class="content pt-5">
  {{! <!-- Post Header --> }}
  <div class="pb-5">
    <div class="row g-5">
      <div class="col-12 col-xxl-6">
          {{!-- Post-author avatar --}}
        <div class="avatar avatar-xl mb-2">
          <img class="rounded-circle" src="/img/team/{{post.user.id}}.png" alt="">
        </div>
        {{!-- Post-author username and date created --}}
        <h5 class="text-700 fw-semi-bold mb-3">
          {{post.user.username}} - {{format_date post.created_at}}
        </h5>
        {{!-- Title of Post --}}
        <h2 class="mb-0">
          {{post.title}}
        </h2>
      </div>
    </div>
  </div>
  {{! <!-- End Post Header --> }}

  {{! <!-- Posts Components --> }}
  <div class="mx-n6 bg-white px-6 pt-0 border-y border-300">
    <div class="row">
        {{! Post Text }}
        <div class="row align-items-end justify-content-between pb-5 g-3">
          <div class="col-auto">
            <p class="fs-2 text-900 text-dark lh-sm mb-0">
              {{post.post_text}}
            </p>
          </div>
        </div>

    {{!-- Leave a Comment Form --}}
    <form class="comment-form">
      <div class="mb-3">
        <label class="form-label" for="basic-form-textarea">Leave a Comment</label>
        <textarea name="comment-body" class="form-control border-300" id="basic-form-textarea" rows="3" placeholder="Speak your heart."></textarea>
      </div>
      <button class="btn btn-phoenix-secondary btn-sm mb-3 border border-300" type="submit">Submit</button>
    </form>

    {{! Comments }}
    {{> comments post.comments}}

    </div>
  </div>
  {{!-- Footer --}}
  <footer class="footer">
    {{> footer}}
  </footer>
</div>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}